{% extends 'base.html' %}

{% block content %}
{% load static %}
{% if info %}
<br/>
{{info}}
<br/>
{% endif %}
<br/>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>
                {{user.username}} training summary
                {% for t in teams %}
                    <span class="badge">{{t.name}}</span>
                {% endfor %}
            </h4>
        </div>
        <div class="panel-body">
            {% if run_stats.achievements %}
                <div>
                    Mileage Achievements
                        {% for a in run_stats.achievements %}
                            <span class="badge achievement">{{a}}</span>
                        {% endfor %}
                </div>
            {% endif %}
            <div class="row"><div class="col-sm-2">Miles this week</div><div><span class="badge">{{run_stats.week}}</span></div></div>
            <div class="row"><div class="col-sm-2">Season Mileage</div><div><span class="badge">{{run_stats.season}}</span></div></div>
            <div class="row"><div class="col-sm-2">Total Mileage</div><div><span class="badge">{{run_stats.total}}</span></div></div>
        </div>
    </div>    
</div>

{% if share_url %}
    <div class="alert alert-info" role="alert">
    Thank you for signing up a new team!<br/>
    Share this link with members to have them join:<br/>
    {{ share_url }}
    </div>
{% endif %}

<div class="row">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newRunForm">Post a Run</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#newMessageForm">Post a Message</button>
</div>
<br/>
{% for p in posts %}
    {% include "posts/post.html" %}
{% endfor %}

<!-- Modal -->
    <div class="modal fade" id="newRunForm" tabindex="-1" role="dialog" role="dialog" aria-labelledby="postRunLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="postRunLabel">Post New Run</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'posts:new_run' %}">
                {% csrf_token %}
                Date<br/>
                <input class="form-control" type="text" name="run_date" value="{{today}}"/><br/>
                Distance<br/>
                <input class="form-control" type="number" name="run_distance" value="{{distance}}" placeholder="0.0" step=".01" /><br/>
                Time<br/>
                <input class="form-control" type="text" name="run_time" value="{{duration}}" placeholder="hh:mm:ss" /><br/>
                Route<br/>
                <input class="form-control" type="text" name="run_route" value="{{route}}" placeholder="Route details"/><br/>
                Description<br/>
                <input class="form-control" type="text" name="run_description" value="{{description}}" placeholder="Describe the workout" /><br/>
                Details<br/>
                <input class="form-control" type="text" name="run_details" value="{{details}}" placeholder="Describe how it went" /><br/>
                <br/>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" value="Post Your Run" />
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="newMessageForm" tabindex="-1" role="dialog" role="dialog" aria-labelledby="postMessageLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="postMessageLabel">Post New Message</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'posts:new_msg' %}">
                {% csrf_token %}
                Date<br/>
                <input class="form-control" type="text" name="msg_date" value="{{today}}" /><br/>
                Message<br/>
                <input class="form-control" type="text" name="message" value="{{msg.message}}"/><br/>
                <br/>
                <br/>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  <input class="btn btn-primary" type="submit" value="Post Message"/>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

<!--
            <div class="panel panel-default">
                <div class="panel heading">
                    <a href="#">@user</a> [date]
                </div>
                <div class="panel-body">
                    I commented
                </div>
            </div>

        <h4 class=list-group-item-heading>
            <a href="#">@{{p.author.username}}</a> [{{p.run_date}}]:  {{p.distance}} mi  in {{p.display_time}} / {{p.pace}} pace
        </h4>
        <p class=list-group-item-text>{{p.description}}</br>
            <a href="#">+1</a> <a href="#">Comment</a>
        </p>


-->