{% extends 'base.html' %}

{% block content %}
{% load static %}
{% if info %}
<br/>
{{info}}
<br/>
{% endif %}
<br/>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>
                {{user.username}} training summary
                {% for t in teams %}
                    <span class="badge">{{t.name}}</span>
                {% endfor %}
            </h4>
        </div>
        <div class="panel-body">
            {% if achievments %}
                <div>
                    Acheivements
                        {% for a in achievements %}
                            <span class="badge">a</span>
                        {% endfor %}
                </div>
            {% endif %}
            <div class="row"><div class="col-sm-2">Miles this week</div><div><span class="badge">{{run_stats.week}}</span></div></div>
            <div class="row"><div class="col-sm-2">Season Mileage</div><div><span class="badge">{{run_stats.season}}</span></div></div>
            <div class="row"><div class="col-sm-2">Total Mileage</div><div><span class="badge">{{run_stats.total}}</span></div></div>
        </div>
    </div>    
</div>

{% if run_stats.calendar %}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Weekly Summary</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-9">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tues</th>
                            <th>Wed</th>
                            <th>Thurs</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for week in run_stats.calendar %}
                        <tr>
                            <td>{{week.week_of}}</td>
                            {% for run in week.runs %}
                                <td>{{run.distance}}</td>
                            {% endfor %}
                            <td>{{week.total}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endif %}

<br/>
<h4>Post Details</h4>
{% for p in posts %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    {% if p.is_run %}
                        <img src="{% static "images/003-runner.png" %}" alt="RUN" class="cc-icon-sm"></img>
                    {% else %}
                        <img src="{% static "images/002-chat.png" %}" alt="MESSAGE" class="cc-icon-sm"></img>
                    {% endif %}
                </div>
                <div class="col-xs-2">
                    {{p.post_date}}
                </div>
                {% if p.is_run %}
                    <div class="col-xs-1">{{p.runpost.distance}} mi</div>
                    <div class="col-xs-2">{{p.runpost.display_time}} ({{p.runpost.pace}} pace)</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-3"></div>
                {% if p.is_run %}
                    <div class="col-xs-4">Route: {{p.runpost.route}}</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2"><a href="{% url 'user' p.author.user.username %}">@{{p.author.user.username}}</a></div>
            </div>
        </div>

        <div class="panel-body">{{p.message}}</br>
            {% if p.is_run %}
            {{p.runpost.details}}
            {% endif %}
            <!--
            <a href="#"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
            -->
        </div>
    </div>
{% endfor %}

<!-- Modal -->
    <div class="modal fade" id="newRunForm" tabindex="-1" role="dialog" role="dialog" aria-labelledby="postRunLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="postRunLabel">Post New Run</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'posts:edit_run' %}">
                {% csrf_token %}
                Date<br/>
                <input class="form-control" type="text" name="run_date" value="{{today}}"/><br/>
                Distance<br/>
                <input class="form-control" type="number" name="run_distance" value="{{distance}}" placeholder="0.0" step=".01" /><br/>
                Time<br/>
                <input class="form-control" type="text" name="run_time" value="{{duration}}" placeholder="hh:mm:ss" /><br/>
                Route<br/>
                <input class="form-control" type="text" name="run_route" value="{{route}}" placeholder="Route details"/><br/>
                Description<br/>
                <input class="form-control" type="text" name="run_description" value="{{description}}" placeholder="Describe the workout" /><br/>
                Details<br/>
                <input class="form-control" type="text" name="run_details" value="{{run.details}}" placeholder="Describe how it went" /><br/>
                <br/>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  <input type="submit" class="btn btn-primary" value="Post Your Run" />
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="newMessageForm" tabindex="-1" role="dialog" role="dialog" aria-labelledby="postMessageLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="postMessageLabel">Post New Message</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'posts:edit_msg' %}">
                {% csrf_token %}
                Date<br/>
                <input class="form-control" type="text" name="msg_date" value="{{today}}" /><br/>
                Message<br/>
                <input class="form-control" type="text" name="message" value="{{msg.message}}"/><br/>
                <br/>
                <br/>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  <input class="btn btn-primary" type="submit" value="Post Message"/>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
