{% extends 'base.html' %}

{% block content %}
<h2>Team Member Signup</h2>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}
<br/>
<div class="alert alert-info" role="alert">
    This page is to join an existing team.
</div>

<form method="POST" action="{% url 'accounts:join' %}">
    {% csrf_token %}
    <input type="hidden" name="team" value="{{team}}" /><br/>
    Username<br/>
    <input type="text" name="username" /><br/>
    Password<br/>
    <input type="password" name="password1" /><br/>
    Confirm Password<br/>
    <input type="password" name="password2" /><br/>
    <br/>
    <input type="submit" class="btn btn-primary" value="Sign Up" />
</form>
{% endblock %}