{% extends 'base.html' %}

{% block content %}
<h2>Signup</h2>
{% if error %}
<br/>
{{error}}
<br/>
{% endif %}
<br/>

<form method="POST" action="{% url 'accounts:signup' %}">
    {% csrf_token %}
    Username<br/>
    <input type="text" name="username" /><br/>
    Password<br/>
    <input type="password" name="password1" /><br/>
    Confirm Password<br/>
    <input type="password" name="password2" /><br/>
    <br/>
    Create or join teams or training groups<br/>
    <input type="text" name="teams" /><br/>

    <input type="submit" value="Sign Up" />
</form>
{% endblock %}