{% extends 'base.html' %}

{% block content %}
<h1>New Message</h1>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}
<br/>
{% if msg.id %}
<form method="POST" action="{% url msg.post_target msg.id %}">
{% else %}
<form method="POST" action="{% url msg.post_target %}">
{% endif %}
    {% csrf_token %}
    Date<br/>
    <input class="form-control" type="text" name="msg_date" value="{{msg.post_date}}" /><br/>
    Message<br/>
    <input class="form-control" type="text" name="message" value="{{msg.message}}"/><br/>
    <br/>
    <br/>
    <input class="btn btn-primary" type="submit" value="Post Message"/>
</form>
{% endblock %}