{% extends 'base.html' %}

{% block content %}
<h1>New Message</h1>

{% if error %}
<br/>
{{error}}
<br/>
{% endif %}
<br/>

<form method="POST" action="{% url 'posts:edit_msg' %}">
    {% csrf_token %}
    Date<br/>
    <input class="form-control" type="text" name="msg_date" value="{{today}}" /><br/>
    Message<br/>
    <input class="form-control" type="text" name="message" value="{{msg.message}}"/><br/>
    <br/>
    <br/>
    <input class="btn btn-primary" type="submit" value="Post Message"/>
</form>
{% endblock %}