{% extends 'base.html' %}

{% block content %}
<h1>New Run</h1>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}
<br/>

<form method="POST" action="{% url 'posts:edit_run' %}">
    {% csrf_token %}
    Date<br/>
    <input class="form-control" type="text" name="run_date" value="{{run.today}}"/><br/>
    Distance<br/>
    <input class="form-control" type="number" name="run_distance" value="{{run.distance}}" placeholder="0.0" step=".01" /><br/>
    Time<br/>
    <input class="form-control" type="text" name="run_time" value="{{run.duration}}" placeholder="hh:mm:ss" /><br/>
    Route<br/>
    <input class="form-control" type="text" name="run_route" value="{{run.route}}" placeholder="Route details"/><br/>
    Description<br/>
    <input class="form-control" type="text" name="run_description" value="{{run.description}}" placeholder="Describe the workout" /><br/>
    Details<br/>
    <input class="form-control" type="text" name="run_details" value="{{run.details}}" placeholder="Describe how it went" /><br/>
    <br/>
    <div class="modal-footer">
      <input type="submit" class="btn btn-default" value="Post Your Run" />
    </div>
</form>
{% endblock %}